# Node modules
node_modules

# Ignoring everything inside upload directory
storage/gallery/*

# Keeping upload directory
!storage/gallery/.gitkeep

# Environment files should be seperate for each environment
.env

# When npm runs error it write logs to the below file
npm-debug.log

database/db.sqlite
database/db.sqlite-journal
config/express-admin