{% extends 'master' %}
{% set headTitle = gallery.name %}
{% from 'galleryBrowser/imageTable.njk' import m as imageTable %}
{% from 'galleryBrowser/imageTableControls.njk' import m as controls %}
{% from 'galleryBrowser/keywordList.njk' import m as keywordList %}

{% block content %}

<h1>
  {{ gallery.name }}
  <small>
    <a href="{{ 'profile' | route({id: gallery.user.id}) }}">
      {{ gallery.user.username }}
    </a>
  </small>
</h1>

{{ keywordList(keywords, 'gallery') }}

<ul>

  {% if gallery.date_from %}
  <li>
    <strong>Fotózva:</strong>
    {{ gallery.date_from | date() }}
    {% if gallery.date_to %} - {{ gallery.date_to | date() }}{% endif %}
  </li>
  {% endif %}

  <li><strong>Létrehozva:</strong> {{ gallery.created_at | date() }}</li>
  <li><strong>Képek száma:</strong> ##</li>

</ul>

{% if gallery.about %}
<p>{{ gallery.about }}</p>
{% endif %}

{{ controls(image_filter_fd) }}

{{ imageTable(images, gallery.user_id == currentUser.id, currentUser.role >= 1) }}

{% endblock %}