{% macro m(galleries, ownerControls = false) %}

<table class="table table-striped table-hover">

{% for gal in galleries %}
<tr>

  {% if gal.user %}
  <td>
    <a href="{{ 'profile' | route({id: gal.user_id}) }}">
      {{ gal.user.username }}
    </a>
  </td>
  {% endif %}

  <td>
    <a href="{{ 'gallery' | route({id: gal.id}) }}">
      <strong>{{ gal.name }}</strong>
    </a>
  </td>

  <td>
    {{ gal.created_at }}
  </td>

  {% if ownerControls %}
  <td>
    <a href="{{ 'gallery_upload' | route({id: gal.id}) }}" class="btn btn-success btn-xs">Feltöltés</a>
    <a href="{{ 'gallery_edit' | route({id: gal.id}) }}" class="btn btn-primary btn-xs">Módosítás</a>
    <a href="{{ 'gallery_delete' | route({id: gal.id}) }}" class="btn btn-danger btn-xs">Törlés</a>
  </td>
  {% endif %}
  
</tr>
{% endfor %}

</table>

{% endmacro %}