{% macro m(images, ownerControls = true) %}

{% for img in images %}
<div class="thumbnail">

  <a href="{{ 'image' | route({id: img.id}) }}">
    <img src="{{ 'thumb' | route({id: img.id}) }}" alt="{{ img.title }}">
  </a>

  <div class="caption">

    {% if img.title != '' %}
    <strong>{{ img.title }}</strong>
    <br>
    {% endif %}

    <small>Kedvelések: {{ img.like_count }}</small>

  </div>

</div>
{% endfor %}

{% endmacro %}