{% extends 'master' %}
{% set headTitle = "Főoldal" %}
{% from 'galleryBrowser/imageTable.njk' import m as imageTable %}
{% from 'galleryBrowser/galleryTable.njk' import m as galleryTable %}

{% block content %}

<h1>Legújabb galériák</h1>

{{ galleryTable(galleries) }}

<h1>Legújabb képek</h1>

{{ imageTable(images, false, currentUser.role >= 1) }}

<h1>Legkedveltebb képek</h1>

{{ imageTable(topimages, false, currentUser.role >= 1) }}

{% endblock %}