{% extends 'master' %}
{% set headTitle = 'Saját galériák' %}
{% from 'galleryBrowser/galleryTable.njk' import m as galleryTable %}
{% from 'galleryBrowser/galleryTableControls.njk' import m as controls %}

{% block content %}

<h1>
  Saját galériák
  <a href="/gallery/add" class="btn btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Új galéria
  </a>
</h1>

{{ controls(gallery_filter_fd) }}

{{ galleryTable(galleries, true) }}

{% endblock %}