{% extends 'master' %}
{% set headTitle = 'Saját galériák' %}
{% from 'galleryBrowser/galleryTable.njk' import m as galleryTable %}
{% from 'galleryBrowser/galleryTableControls.njk' import m as controls %}
{% from 'galleryBrowser/confirmDialog.njk' import m as confirm %}

{% block content %}

<h1>
  Saját galériák
  <a href="/gallery/add" class="btn btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Új galéria
  </a>
</h1>

{{ controls(gallery_filter_fd) }}

{{ galleryTable(galleries, true) }}

{{ confirm() }}

{% endblock %}

{% block scripts %}
<!-- delete buttons -->
<script src="/scripts/button-actions.js"></script>
<script>
  $('.btn-gallery-delete').on('click', btnGalleryDelete_click)
</script>
{% endblock %}