dd { margin: 5px 0 10px 10px; }

.filter-controls {
  overflow: hidden;
  margin: 10px 0;
  padding: 10px 10px 0 10px;
  background-color: #375a7f;
}
  .filter-controls .form-control {
    float: left;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .filter-controls .separator {
    float: left;
    width: 2px;
    height: 45px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #8ea0b4;
  }

.image-table-item {
  display: inline-block;
  width: 220px;
  padding: 10px 10px 0 10px;
}
  .image-table-img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0;
  }
  .image-table-item .caption {
    width: 198px;
    height: 60px;
    white-space: nowrap;
    overflow: hidden;
  }
  .image-table-title { height: 21px; }
  .image-table-info { color: #8ea0b4; float: left; }
  .image-table-info i { margin-right: 5px; }
  .image-table-info span { margin-right: 10px; }
  .image-table-buttons { float: right; }