{% extends 'master' %}
{% set headTitle = 'Felhasználók' %}

{% block content %}

<h1>Felhasználók</h1>

<table class="table table-striped table-hover">

  <thead>
    <tr>
      <th>#</th>
      <th>Név</th>
      <th>Regisztrált</th>
      {% if currentUser.role == 2 %}<th>Moderátor</th>{% endif %}
    </tr>
  </thead>

  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>
        <a href="{{ 'profile' | route({id: user.id}) }}">
          <strong>{{ user.username }}</strong>
        </a>
      </td>
      <td>{{ user.created_at }}</td>

      {% if currentUser.role == 2 %}
      <td>
        {% if user.role == 0 %}
        <a href="{{ 'user_mod' | route({id: user.id}) }}" class="btn btn-primary btn-xs">
          Moderátori jog adása
        </a>
        {% elif user.role == 1 %}
        <a href="{{ 'user_mod' | route({id: user.id}) }}" class="btn btn-danger btn-xs">
          Moderátori jog elvétele
        </a>
        {% endif %}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}