{% extends 'master' %}
{% set headTitle = 'Felhasználók' %}

{% block content %}

<h1>Felhasználók</h1>

<table class="table table-striped table-hover">

  <thead>
    <tr>
      <th>#</th>
      <th>Név</th>
      <th>Regisztrált</th>
    </tr>
  </thead>

  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>
        <a href="{{ 'profile' | route({id: user.id}) }}">
          <strong>{{ user.username }}</strong>
        </a>
      </td>
      <td>{{ user.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}