{% extends 'master' %}
{% set headTitle = 'Kép szerkesztése' %}

{% block content %}

<div class="row">

  <div class="col-lg-6">

    <form class="form-horizontal" method="post" data-toggle="validator">

      <div class="form-group">
        <label class="col-lg-2 control-label">Galéria</label>
        <div class="col-lg-10">
          <a href="{{ 'gallery' | route({id: image.gallery.id}) }}" class="form-control">{{ image.gallery.name }}</a>
        </div>
      </div>

      <div class="form-group has-feedback">
        <label for="title" class="col-lg-2 control-label">Cím</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" name="title" id="title" value="{{ image.title }}" maxlength="254">
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
      </div>

      <div class="form-group has-feedback">
        <label for="date_taken" class="col-lg-2 control-label">Fotózva</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" name="date_taken" id="date_to" placeholder="pl. 2016.11.20. 12:15:00"
                 value="{{ image.date_taken | date() }}" data-datetime="y" data-delay="1500">
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
      </div>

      <div class="form-group">
        <label for="keywords" class="col-lg-2 control-label">Kulcsszavak</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" name="keywords" id="keywords" data-gallery="{{ image.gallery.id }}"
                 placeholder="szó1,szó2,satöbbi" value="{{ keywordNames | join(',') if keywordNames }}">
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Láthatóság</label>
        <div class="col-lg-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="public" id="public" {{ 'checked' if image.public }} {{ 'disabled' if image.force_private }}>
              Publikus
            </label>
          </div>
          {% if image.force_private %}
          <small>A kép közzétételét egy moderátor letiltotta.</small>
          {% endif %}
        </div>
      </div>

      <div class="form-group has-feedback">
        <label for="about" class="col-lg-2 control-label">Leírás</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="5" name="about" id="about" placeholder="Pár szó, ha van mit mesélni" maxlength="1024">{{ image.about }}</textarea>
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="next" id="next" checked>
              Mentés után a következő kép szerkesztése
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Alaphelyzet</button>
          <button type="submit" class="btn btn-primary">Mentés</button>
        </div>
      </div>

      {{ csrfField }}

    </form>

  </div>

  <div class="col-lg-6">
    <a href="{{ 'image' | route({id: image.id}) }}">
      <img src="{{ 'medium' | route({id: image.id}) }}" alt="{{ image.title }}" style="max-width:100%;max-height:500px;">
    </a>
  </div>

</div>

{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.min.css" />
{% endblock %}

{% block scripts %}
<!-- Bootstrap Validator -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
<!-- Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js"></script>
<!-- Selectize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
<!-- Enhanced keyword field -->
<script src="/scripts/smart-keywords.js"></script>
<!-- Custom validators -->
<script src="/scripts/custom-validators.js"></script>
{% endblock %}